.message-details {
	font-family: monospace;
	font-size: 1em;
	color: #777;
}

.arrows {
	border-right: 1px solid #e8ebe8;
	padding: 4px 10px 0 2px;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}

.message-inner {
	margin: 0 8px;
	width: 100%;
	border: 2px solid transparent;
	transition: 0.5s;
}

.message {
	display: flex;
	margin: 10px 0;
	justify-content: space-between;
	background-color: #f8f7f3;
	transition: .3s;
	font-size: 1em;
	border: 1px solid #e8ebe8;
}

.message-inner-active {
	font-size: 1.4em;
	width: 100%;
	resize: none;
	border: 0;
	margin: 0;
	transition: 0.5s;
	border: 1px solid #ddd;
	padding: 6px;
	background: #fff;
}