@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.segment {
	width: 100%;
	padding: 20px;
}

.segment-container {
	display: flex;
	justify-content: baseline;
	width: 700px;
	background-color: #fff;
	box-shadow: 0px 2px 15px -8px #777;
}

.zoom-in {
	animation: ZoomIn 1s ;
}

.moveup {
	animation: MoveUp .4s ease forwards; 
}
.movedown {
	animation: MoveDown .4s ease forwards;
}
.header {
	width: 100%;
	margin-top: 0;
	padding: 20px;
}

.segment-config {
	background-color: #d7d7d7;
}

.segment-config > button {
	background-color: transparent;
}.segment-config > button:hover {
	background-color: #aaa;
}
.segment-config:first-child {
	padding-top: 7px;
}
.header.segment-container {
	display: block;
	margin: 0 0 20px;
}

* {
	font-family: 'Noto Sans', sans-serif;
}

h2 {
	font-size: 1.6em;
}

body {
	line-height: 1.4;
	background-color: #fff;
	background-image: url('../bg.png');
}
button {
	display: block;
	width: 40px;
	height: 40px;
	border: 0;
	margin: 0 7px 7px;
	border-radius: 1px;
	background-color: #189aee;
	color: #fff;
	font-weight: bold;
	transition: .3s;
	cursor: pointer;
	font-size: 1.5em;
}
button:hover {
	box-shadow: 0px 2px 5px -1px #777;
	background-color: #0690E9;
}

.message {
	display: flex;
	margin: 20px auto;
	justify-content: space-between;
	background-color: #f8f7f3;
	transition: .3s;
	font-size: 1em;
	max-width: 600px;
	padding: 10px 0 6px;
	border: 1px solid #e8ebe8;
}

.header > .message {
	max-width: 900px;
	display: block;
	padding: 10px 20px;
}

.shadow {
	box-shadow: 0px 7px 12px -9px #777;
}

textarea {
	font-size: 1.4em;
	width: 100%;
	resize: none;
	border: 0;
	margin: 0;
	transition: 0.5s;
	border: 1px solid #ddd;
	padding: 6px;
	background: #fff;
}

.text-blue {
	margin: 0 8px;
	width: 100%;
	border: 2px solid transparent;
	transition: 0.5s;
}

.text-blue-active {
	/*border: 2px solid #189aee;*/
}

p {
	flex: 1;
	white-space: pre-wrap;
}

.grey {
	margin: 0 0 0 9px;
	background-color: transparent;
	color: #999;
	height: unset;
	width: unset;
	padding: 0;
	transition: .2s;
}

.grey:hover {
	background-color: transparent;
	color: #ccc;
	box-shadow: none;
}

.grey:active {
	background-color: transparent;
	color: #777;
}

.green {
	background-color: #8BC34A;
}

.green:hover {
	background-color: #7CB342;
}

.arrows {
	border-right: 1px solid #e8ebe8;
	padding-right: 10px;
}

.delete {
	text-align: right;
	margin-top: 6px;
	margin-left: auto;
	background-color: #ed7368;
	width: auto;
}

.delete:hover {
	background-color: #ff776b;
}

.new-segment-btn {
	margin: 0 auto;
	background-color: #ccc;
	border-radius: 50%;
}

.new-segment-container {
	max-width: 700px;
	outline: 5px dashed #ddd;
	padding: 45px;
	outline-offset: -12px;
	cursor: pointer;
	transition: .3s;
}
.new-segment-container:hover {
	outline-color: #7CB342;
}

.new-segment-container:hover .new-segment-btn {
	background-color: #7CB342;
}

.unavailable, .unavailable:hover {
	color: #ddd;
	cursor: auto;
}

.wrapper:last-child {
	margin-bottom: 80px;
}

.file-ops {
	display: flex;
}

.file-ops-btn {
	width: auto;
	height: 40px;
	font-size: 1.2em;
}
/* Fix the fucking upload button on webkit */
input.file-ops-btn::-webkit-file-upload-button {
    height: 40px;
}

.message-id-header {
	display: flex;
}
.message-id-header > button {
	color: #999;
	background-color: transparent;
}
.message-id-header > button:hover {
	box-shadow: unset;
	color: #bbb;
}

@keyframes ZoomIn {
	from { transform: translateX(-200%); }
	to { transform: translateX(0%); }
}
@keyframes MoveUp {
	from {
		transform: translateY(0);
		box-shadow: 0px 0px 0px #777;
	}
	50% {
		box-shadow: 0px -2px 12px -6px #777;
	}
	to {
		transform: translateY(calc(-100% - 20px));
		box-shadow: 0px 0px 0px #777;
    }
}
@keyframes MoveDown {
	from {
		transform: translateY(0);
	}
	50% {
		 transform: translateY(calc(50% + 10px)) scale(.95);
	}
	to {
		transform: translateY(calc(100% + 20px));
    }
}

.absolute {
	position: absolute;
}

.segmentNumber {
	text-align: center;
	color: #fff;
}

.message-details {
	font-family: monospace;
	font-size: 1em;
	color: #777;
}

.debug-segment-json {
	max-height: 400px;
	max-width: 600px;
	overflow: scroll;
	background-color: #eee7;
}

.segment-wrapper {
	display: flex;
}

.segment-centering {
	margin: 0 100px 20px;
}

.requirement-tag {
	background-color: #189aee;
	color: #fff;
	border-radius: 3px;
	padding: 0 8px;
	font-size: .8em;
	margin: 0 0 0 4px;
	display: inline-block;
	height: 30px;
}

.requirement-container {
	display: flex;
}
.requirement-container h3 {
	margin-right: 4px;
}
.requirement-edit {
	display: inline-block;
	background-color: transparent;
	width: unset;
	height: 30px;
	color: #ddd;
	font-size: 1.25em;
	padding: 0;
	margin: 0 0 0 4px;
}
.requirement-edit:hover {
	background-color: transparent;
	box-shadow: none;
	color: #fff;
}

.requirement-add-target {
	width: unset;
	font-size: .8em;
	height: 30px;
	margin: 0;
}

.requirement-add-has {
	width: 30px;
	height: 30px;
	padding: unset;
	margin: 0;
	display: inline;
	background-color: #ccc;
	border-radius: 50%;
	color: #777;
}

.btn-new {
	background-color: #8BC34A;
}
.btn-new-inline {
	color: #8BC34A;
}

.btn-edit {
background-color: #189;
}
.btn-edit-inline {
	color: #8BC34A;
}